/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
$color-white: #fff;
$color-black: #000;
$color-red: #e85151;
$color-gray: #5A5F62;
$color-blue: #35BAC3;
$color-titlebar:#00897B;
$color-filter-tab:#009889;
$color-core: rgba(53, 186, 195, 0.23);
$color-core-background: #F1F1F1;
$color-menubar-text: #B9B9B9;

/* Font */
$font-OpenSans: 'Open Sans', 'Arial', sans-serif;
