@@include('_titlebar.html')

<div class="atom-form-container">
	<div class="atom" style="background-image:url({{atom.imgSrc}});">
		<div class="atom-content">
			<div class="atom-offer"><i class="fa fa-hand-o-right"></i>20% off</div>
			<div class="atom-name">{{atom.name}}</div>
		</div>
	</div>
	<div class="detail-fields-wrapper">
		<div class="row detail-field" id="orderIDWrapper">
			<div class="col-xs-4"><label>Order ID</label></div>
			<div class="col-xs-8"><input type="text" id="orderID" class="input-underlined"></div>
		</div>
		<div class="row detail-field">
			<button type="button" class="standard-button signup">VERIFY</button>
		</div>
	</div>
</div>
