<div class="login-container">
	<div class="oauth-container">
		<ul>
			<li class="google-plus-signin">Login with Google</li>
			<li class="facebook-signin">Login with Facebook</li>
		</ul>
	</div>
	<div class="gradient-line">Or</div>
	<div class="auth-container">
		<form name="authForm" ng-submit="authLogin()">
			<input type="text" class="standard-input user-name" placeholder="Email or Mobile number" required>
			<input type="password" class="standard-input password" placeholder="Password" reqiured>
			<button type="button" class="standard-button signup">SIGN UP</button>
			<button class="standard-button signin" type="submit">SIGN IN</button>
		</form>
	</div>
</div> 