<!-- Side nav menubar html -->
<div class="side-menu-wrapper" ng-controller="sideMenuController" ng-class="sideMenuActive ? 'open':''">
	<div class="profile-image-container">
		<div class="profile-image-circle"><i class="fa fa-user"></i></div>
		<div class="account-details">
			<div class="name">Saurabh</div>
			<div class="email">saurabh.panday57@gmail.com</div>
			<div class="contact">8904186057</div>
		</div>
	</div>
	<div class="menu-wrapper">
		<ul>
			<li><i class="fa fa-home"></i><span class="menu-action home">Home</span></li>
			<li><i class="fa fa-credit-card"></i><span class="menu-action home">Wallet</span></li>
			<li><i class="fa fa-user"></i><span class="menu-action home">Profile</span></li>
			<li><i class="fa fa-history"></i><span class="menu-action home">Transaction History</span></li>
			<li><i class="fa fa-question-circle"></i><span class="menu-action home">Help</span></li>
			<li><i class="fa fa-sign-out"></i><span class="menu-action home">Sign out</span></li>
		</ul>
	</div>
</div>