.login-container{
  border:1px solid $color-blue;
  border-radius:5px;
  padding: 10px;
  max-width: 320px;
  margin:80px auto;
  width: 85%;

  ul{

  	li{
	    text-align: center;
	    padding: 15px 5px;
	    margin-bottom: 5px;
	    cursor:pointer;
	    font-weight: bold;

      i{
        margin-right:10px;
      }	
  	}
  		.google-plus-signin{
	    	background: #F44336;
	    }
	    
	    .facebook-signin{
	    	background-color: #4e69a2;
    		border-color: #435a8b #3c5488 #334c83;
	    }
  }
  form{
  	margin: auto;
  	text-align: center;
  }
  input{
  	border: 1px solid $color-blue;
  }

  .signup{

  }
  .signin{

  }
  .gradient-line{
    width: 80%;
    height: 2px;
    margin: 10%;
    line-height: 0px;
    text-align: center;
    opacity: 0.5;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #e85151;
    font-weight: bold;
    background-image: radial-gradient(circle at 50% 0, rgba(255, 254, 255, 0), rgba(255, 254, 255, 0) 12%, #e85151 10%, #ffffff);
    }
}
  button{
    width: 49%;
    padding: 10px;
    margin-top: 5px;
    display: inline-block;
    color: white;
    font-weight: bold;
    background: $color-titlebar;
    cursor: pointer;
  }
  button:hover{
    background: #358AC3;
  }